<nav class="navbar navbar-expand-lg navbar-light sticky-top">
  <div class="container-fluid">

    <a class="navbar-brand" href="#">
      <img src="/assets/img/logo.jpeg" alt="" width="30" height="24"
        class="d-inline-block align-text-top">
      S Prafulla Music
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#" routerLink="/landing">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" tabindex="" href="#" routerLink="/bhaktiRang">Bhaktirang</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Our YouTube Channels
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#sprafullMusic">S
                Prafull Music</a></li>
            <li><a class="dropdown-item" data-bs-toggle="modal"
                data-bs-target="#harmoniumPrafull">Haromium Prafulla</a></li>
            <li><a class="dropdown-item" data-bs-toggle="modal"
                data-bs-target="#swarajInfoten">Swaraj Infoten</a></li>
          </ul>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="oldCompDD" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Old Spardha
          </a>
          <ul class="dropdown-menu" aria-labelledby="oldCompDD">
            <li><a class="dropdown-item" href="#" routerLink="/manaManatTu">Mana Manat Tu</a></li>
          </ul>
        </li>

      </ul>
      <span class="navbar-text">
        Website Developed &amp; Sponsored by
        <a href="https://forms.gle/qbsKdmeto3LH8zaVA">
          Takshan Intelligent Systems Pvt. Ltd.
        </a>
      </span>
    </div>

  </div>
</nav>

<!-- s-prafull-music -->
<div class="modal fade" id="sprafullMusic" tabindex="-1" aria-labelledby="sprafullMusic"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">S Prafulla Music</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="col">
          <p>
            Hey people, <br />
            We started this channel for spreading joy with our music !! We learned a lot things in
            this journey like multitrack recording , making new compositions , music production ,
            video editing skills etc !! Now we are 1 . 3 million subscribers family!!!! we started
            our journey on 28th December 2014 . And now our channel have 16,83,78,116 views ! We
            have done lots of musical experiments on this channel like bandish of rag yaman in
            western rhythms !
          </p>
          <p>
            We are trying to create new musical things on this channel , and so many new surprises
            are coming soon for you guys ! And shower your love on us like you always do ,we are
            learning music since from our childhood from our elders and this s prafulla music
            channel journey thought us very much things to go ahead ! And support us subscribe our
            channel to get more such videos
          </p>
        </div>
      </div>
      <div class="modal-footer">
        <iframe width="560 auto" height="315" src="https://www.youtube.com/embed/5-nLrBkNE_E"
          title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
<!-- s-prafull-music -->

<!-- harmonium prafulla -->
<div class="modal fade" id="harmoniumPrafull" tabindex="-1" aria-labelledby="sprafullMusic"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Harmonium Prafulla</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="col">
          <p>
            This is our another channel, here we try to provide you notations and tutorials of
            various songs, Marathi bhajan ,abhang ,bhakti Geet etc on harmonium in our regional
            language Marathi and in Hindi also!! And basics of indian classical music also !! <br />
            We started this channel on 22nd March 2018. Now we have 57.8 k subscribers on this
            channel and total 48,29,531 views. Hope our videos will help you for your musical
            learning. Recently we have conducted a musical contest in which we gave a song of our
            own composition to contestants and they sung it on karaoke track which we provided and
            we got tremendous responses from you lovely people and The results will come soon, stay
            tuned for lot more contests like this!
          </p>
        </div>
      </div>
      <div class="modal-footer">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/MNf-m4AmPFQ"
          title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
<!-- harmonium prafulla -->

<!-- swaraj infoten -->
<div class="modal fade" id="swarajInfoten" tabindex="-1" aria-labelledby="swarajInfoten"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Swaraj Infoten</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="col">
          <p>
            Local news in local language.
          </p>
        </div>
      </div>
      <div class="modal-footer">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/2ZJt4VHCJcQ"
          title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
<!-- swaraj infoten -->


<div class="container-fluid">
  <!-- image >> -->
  <div class="row">
    <div class="col col-sm-10 col-md-8 offset-sm-1 offset-md-2 _mainBanner">

      
      <div id="" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="assets/img/new_comp.jpeg" class="d-block w-100" alt="...">
          </div>
        </div>
      </div>
      

    </div>
  </div>
  <!-- </ image -->

  <!-- info > -->
  <div class="row">
    <div class="col col-sm-10 col-md-8 offset-sm-1 offset-md-2 _infoPanel">

      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home"
            type="button" role="tab" aria-controls="home" aria-selected="false">Info &amp;
            Rules</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="paymentInfo-tab" data-bs-toggle="tab" data-bs-target="#paymentInfo"
            type="button" role="tab" aria-controls="paymentInfo" aria-selected="false"> Applicaiton Form & Payment</button>
        </li>
        <!--
          <li class="nav-item" role="presentation">
          <button class="nav-link" id="contact-tab" data-bs-toggle="tab"
            data-bs-target="#contact" type="button" role="tab" aria-controls="contact"
            aria-selected="true">Result</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="partiCerti-tab" data-bs-toggle="tab"
            data-bs-target="#partiCerti" type="button" role="tab" aria-controls="partiCerti"
            aria-selected="false">Participation Certificates</button>
        </li>
        -->
      </ul>
      <div class="tab-content" id="myTabContent">

        <!-- info and stuff -->
        <div class="tab-pane show active fade" id="home" role="tabpanel" aria-labelledby="home-tab">

          <div class="row">

            <div class="col-12 col-sm-12 p-3">
              <h3> Important Dates </h3>
              <hr />
              <ul>
                <li>Compitation Start Date <span class="badge bg-primary">20 July 2021</span></li>
                <li>Last Date to submit video <span class="badge bg-primary">7 August 2021</span></li>
                <li>Video Publication Starts on <span class="badge bg-primary">1 August 2021</span>
                  till <span class="badge bg-primary">7 August 2021</span></li>
                <li>Video Likes/View counting till: <span class="badge bg-primary">21 August 2021</span></li>
                <li>Result Dates: <span class="badge bg-primary">1 Sept 2021</span></li>
              </ul>
            </div>

            <div class="col-12 col-sm-6 p-3">
              <h3> Prizes </h3>
              <hr />
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Prize</th>
                    <th scope="col">Awarded For</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="table-primary">
                    <td colspan="3" style="text-align: center;">
                      <b> Main Prizes </b>
                    </td>
                  </tr>
                  <tr class="table-primary">
                    <th scope="row">1<sup>st</sup></th>
                    <td>₹11,000/-</td>
                    <td>For Singing </td>
                  </tr>
                  <tr class="table-primary">
                    <th scope="row">2<sup>nd</sup></th>
                    <td>₹7,000/-</td>
                    <td>For Singing</td>
                  </tr>
                  <tr class="table-primary">
                    <th scope="row">3<sup>rd</sup></th>
                    <td>₹5,000/-</td>
                    <td>For Singing</td>
                  </tr>
                  <tr class="table-success">
                    <td colspan="3" style="text-align: center;">
                      <b> Peoples Choice </b>
                    </td>
                  </tr>
                  <tr class="table-success">
                    <th scope="row">1<sup>st</sup> </th>
                    <td>₹2,000/-</td>
                    <td>Most Liked 
                      <br/><span style="font-size: 0.7em;">( most no. of like on YouTube video )</span>
                    </td>
                  </tr>
                  <tr class="table-success">
                    <th scope="row">1<sup>st</sup></th>
                    <td>₹2,000/-</td>
                    <td>Most Views
                      <br /><span style="font-size: 0.7em;">( most no. of views on YouTube video )</span>
                    </td>
                  </tr>
                  <tr class="table-info">
                    <td colspan="3" style="text-align: center;">
                      <b> Other Encourgment Prizes </b>
                    </td>
                  </tr>
                  <tr class="table-info">
                    <th scope="row">1</th>
                    <td>₹1,000/-</td>
                    <td>Good Taal-wadya player</td>
                  </tr>
                  <tr class="table-info">
                    <th scope="row">1</th>
                    <td>₹1,000/-</td>
                    <td>Good Sur-wadya player</td>
                  </tr>
                  <tr class="table-info">
                    <th scope="row">1</th>
                    <td>₹1,000/-</td>
                    <td>Good Videography</td>
                  </tr>
                </tbody>
              </table>
            </div>

            <!-- col 2 >> -->
            <div class="col-12 col-sm-6 p-3">
              <h3>Competition Rules</h3>
              <hr />
              <ol>
            
                <li>
                  Lenght of the song should be between 3 minute to 6 minute.
                </li>
                <li>
                  Song can be in Marathi or Hindi language.
                </li>
                <li>
                  Allowed Song types are: <br />
                  <b>Bhakti geet</b>, <b>Abhanga</b>, <b>Gaulan</b>, <b>Bhajan</b>
                </li>
                <li>
                  Use of Kareoke track or recorded tracks is not allowed.
                </li>
                <li>
                  Chrous singing is not allowed.
                </li>
                <li>
                  Contestant can take help of accompanist for background music. Example of allowed musical instruments are : <br /> <b>Harmonium, Tabla, Mrudanga, Pakhwaj, Khanjiri, Manjiri,
                    Flute,
                    Violin etc.</b>
                </li>
                <li>Maximum allowed instruments are 5.</li>
                <li>Electronic musical instruments are not allowed. Except from Electric Tanpura.</li>
                <li>Video must be in landscape (horizantal) orientation. Videos shot in portrait (vertical) oriantation will be disqualified.</li>
                <li>
                  View and Likes of first 15 days will be counted from the date of publication on our <a href="#"> (Harmonium Prafulla) YouTube channel.</a> Eg. If your video is published on 1st August then we will take Views and Like reading of your video on 15th August (9:00 PM). 
                </li>
            
                
              </ol>
            </div>
            <!-- </ col 2 -->

            <!-- col 1 >> -->
            <div class="col-12 p-3">

              <h3>Competition Info</h3>
              <hr />
              <ol>
                <li>
                  This is an open age group Competition.
                </li>
                <li>
                  Entry Fee is ₹200 Only /-
                </li>
                
                <li>
                  You have to send your recorded Video Song to us via Telegram. Link to Telegram: <a
                    href="https://t.me/harmoniumprafulla">hamoniumprafulla</a>
                    or you can send the video via Google Drive on <b>sanwadini@gmail.com</b>.
                </li>
                <li>
                  Your video submission will be uploaded on our <a href="#">YouTube</a> channel. By
                  submitting the video to us you have agrred that we can use your video to publish on our YouTube channel and we shall hold further pulication / redistribution / editing rights for the same.
                </li>
                <li>
                  1<sup>st</sup>, 2<sup>nd</sup> &amp; 3<sup>rd</sup> prize will be decided by judges, on the basis of singing only.
                </li>
                <li>Winner of main 1<sup>st</sup>, 2<sup>nd</sup> &amp; 3<sup>rd</sup> are eligble for other prizes too. (If they qualify)</li>
                <li>All rights of the competition are reserved with the organisors.</li>
                <li>By submmiting your form for this Compitation you agree to all the tearms and conditions. Also you agree to all the decisions made by organisors with regards to this Compitation.</li>
              </ol>

            </div>
            <!-- </ col 1 -->
            

          </div>

        </div>
        <!-- <</ >info and stuff -->

        <!-- result > -->
        <div class="tab-pane fade text-center p-3" id="contact" role="tabpanel"
          aria-labelledby="contact-tab">
          <h3 class="py-3">
            <p>We are pleased to inform you the results. To know who won 1st, 2nd and 3rd prize
              please check our YouTube video.</p>
            <div class="videoWrapper">
              <!-- Copy & Pasted from YouTube -->
              <iframe width="560" height="349" src="https://www.youtube.com/embed/3kW1eNfTopo"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            </div>
          </h3>


        </div>
        <!-- </ result -->

        <!-- download certificates >> -->
        <div class="tab-pane fade py-3" id="partiCerti" role="tabpanel"
          aria-labelledby="partiCerti-tab">

          <h3 class="text-center pt-3">
            PFD Certificates will be avalible to download on 15 July 2021.
          </h3>
          <h6 class="text-center pb-3"> We are trying to solve the certificate download issue as
            soon as possible. Thank You.</h6>

          

        </div>
        <!-- <</ download certificates -->

        <!-- payment info >> -->
        <div class="tab-pane fade py-3" id="paymentInfo" role="tabpanel" aria-labelledby="paymentInfo-tab"> 
          <div class="row">
            <div class="col-12">
              <h3>Payment Information</h3>
              <hr />
              <div class="row">
                <div class="col-12 col-sm-6">
                  <div class="card" style="width: 18rem;">
                    <img src="assets/img/pay_qr.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">UPI QR Code</h5>
                      <h6 class="card-subtitle mb-2 text-muted">UPI ID: harmoniumprafulla@upi</h6>
                      <p class="card-text">Please pay ₹200 as a competation fee on UPI QR given above. And send the
                        screenshot to our Telegram on: <a href="https://t.me/harmoniumprafulla" target="_blank">harmoniumprafulla</a>
                      </p>
                    </div>
                  </div>
                </div>
                <!--
                <div class="col-12 col-sm-6">
                  <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">Other Payment Details</h5>
                      <h6 class="card-subtitle mb-2 text-muted">if UPI is not working</h6>
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                          Bank Account Details <br/>
                            <ul>
                              <li>IFSC: BKID0000781</li>
                              <li>Acc. No.: 078110110010276</li>
                              <li>Acc. Name: Megha Prafulla Shahane</li>
                            </ul>
                        </li>
                      </ul>
                      <p class="card-text">
                        Please pay ₹200 as a competation fee on acc given above. And send the
                        screenshot to our Telegram on: <a href="https://t.me/harmoniumprafulla" target="_blank">harmoniumprafulla</a>
                      </p>
                    </div>
                  </div>
                </div>
                -->
              </div>
            </div>
          </div>
          <div class="row py-3">
            <div class="col-12">
              <h3>Participation Form</h3>
              <hr/>
            </div>
            <iframe
              src="https://docs.google.com/forms/d/e/1FAIpQLSe39-9B2LcO9kRL86-9B241u5FXQSaJi0bLnZFds11B88mwhg/viewform?embedded=true"
              width="640" height="1385" frameborder="0" marginheight="0" marginwidth="0" class="col-12">Loading…</iframe>
          </div>
        </div>
        <!-- </ payment info -->

      </div>





    </div>
  </div>
  <!-- </ info -->

</div>