<nav class="navbar navbar-expand-lg navbar-light sticky-top">
  <div class="container-fluid">

    <a class="navbar-brand" href="#">
      <img src="../assets/img/logo.jpeg" alt="" width="30" height="24" class="d-inline-block align-text-top">
      S Prafulla Music
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" routerLink="landing">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/manaManatTu">Mana Manat Tu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Upcoming Spardha</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Our YouTube Channels
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">S Prafull Music</a></li>
            <li><a class="dropdown-item" href="#">Haromium Prafulla</a></li>
            <li><a class="dropdown-item" href="#">Swaraj Infoten</a></li>
          </ul>
        </li>
      </ul>
    </div>

  </div>
</nav>


<div class="container-fluid">
  <!-- image >> -->
  <div class="row">
    <div class="col col-sm-10 col-md-8 offset-sm-1 offset-md-2 _mainBanner">

      <div id="" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/assets/img/main_banner.jpeg" class="d-block w-100" alt="...">
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- </ >image -->

  <!-- </action panel -->
  <div class="row my-5">
    <div class="col col-sm-10 col-md-8 offset-sm-1 offset-md-2 _mainActionPanel">

      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">"Mana Manat Tu": Geet gayan Spardha </h5>
              <p class="card-text">A music singing spardha to celebreate a speacial creation by Prafulla Shahane.</p>
              <a href="#" class="btn btn-primary">Visit Spardha Home page</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Know about upcoming event</h5>
              <p class="card-text">We wish to celebreat music in any which way possible. Know more about upcoming competations.</p>
              <a href="#" class="btn btn-primary">Know Upcoming Events</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- </action panel -->

  <div class="row my-5">
    <div class="col col-sm-10 col-md-8 offset-sm-1 offset-md-2 _mainInfoPane">

      <div class="card mb-3 d-inline-block">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../assets/img/img1.png" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Harmonium Prafulla</h5>
              <p class="card-text">Harmonium is my life , this instrument is very easy and Powerful soulful used in all type of music,
                i will try to play indian classical music, marathi bhajan, abhang and bhakti geet and there tutorial detail Notation
                on harmonium , key-board , melodica and all types of musical key-boards.</p>
              <p class="card-text">
                <small class="text-muted">
                  <a href="https://www.youtube.com/channel/UC2e4KAMYWDQl_uQuXkSaQPQ/featured" class="link-info"> Visit YouTube Channel </a>
                </small>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3 d-inline-block">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../assets/img/img1.png" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">S Prafull Music</h5>
              <p class="card-text">
                Sweet journey of Shahane & Co. In this musical universe. Stay tuned for more music. This brother duo is enthusiastic and very devoted to learn new things. We just started this channel to encourage their journy. We wish you to be the part of the same.
              </p>
              <p class="card-text">
                <small class="text-muted">
                  <a href="https://www.youtube.com/c/Sprafullamusic/featured" class="link-info"> Visit YouTube Channel </a>
                </small>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../assets/img/img1.png" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Swaraj Infoten</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text">
                <small class="text-muted">
                  <a href="" class="link-info"> Visit YouTube Channel </a>
                </small>
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>


</div>
