<nav class="navbar navbar-expand-lg navbar-light sticky-top">
  <div class="container-fluid">

    <a class="navbar-brand" href="#">
      <img src="/assets/img/logo.jpeg" alt="" width="30" height="24" class="d-inline-block align-text-top">
      S Prafulla Music
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" routerLink="landing">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/manaManatTu">Mana Manat Tu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" tabindex="-1" href="#">Upcoming Spardha</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Our YouTube Channels
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#sprafullMusic">S Prafull Music</a></li>
            <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#harmoniumPrafull">Haromium Prafulla</a></li>
            <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#swarajInfoten">Swaraj Infoten</a></li>
          </ul>
        </li>
      </ul>
      <span class="navbar-text">
        Website Developed &amp; Sponsored by
        <a href="https://forms.gle/qbsKdmeto3LH8zaVA">
          Takshan Intelligent Systems Pvt. Ltd.
        </a>
      </span>
    </div>


  </div>
</nav>

<!-- s-prafull-music -->
<div class="modal fade" id="sprafullMusic" tabindex="-1" aria-labelledby="sprafullMusic" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">S Prafulla Music</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="col">
          <p>
            Hey people, <br/>
            We started this channel for spreading joy with our music !! We learned a lot things in this journey like multitrack recording , making new compositions , music production , video editing skills etc !! Now we are 1 . 3 million subscribers family!!!! we started our journey on 28th December 2014 . And now our channel have 16,83,78,116 views ! We have done lots of musical experiments on this channel like bandish  of rag yaman in western rhythms !
          </p>
          <p>
            We are trying to create new musical things  on this channel , and so many new surprises are coming soon for you guys ! And shower your love on us like you always do ,we are learning music since from our childhood from our elders and this s prafulla music channel journey thought us very much things to go ahead !  And support us subscribe our channel to get more such videos
          </p>
        </div>
      </div>
      <div class="modal-footer">
        <iframe width="560 auto" height="315" src="https://www.youtube.com/embed/5-nLrBkNE_E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
<!-- s-prafull-music -->

<!-- harmonium prafulla -->
<div class="modal fade" id="harmoniumPrafull" tabindex="-1" aria-labelledby="harmoniumPrafull" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Harmonium Prafulla</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="col">
          <p>
            This is our another channel, here we try to provide you notations and tutorials of various songs, Marathi bhajan ,abhang ,bhakti Geet  etc on harmonium in our regional language Marathi and in Hindi also!!  And basics of indian classical music also !! <br/>
            We started this channel on 22nd March 2018. Now we have 57.8 k subscribers on this channel and total 48,29,531 views. Hope our videos will help you for your musical learning. Recently we have conducted a musical contest in which we gave a song of our own composition to contestants and they sung it on karaoke track which we provided and we got tremendous responses from you lovely people and The results will come soon, stay tuned for lot more contests like this!
          </p>
        </div>
      </div>
      <div class="modal-footer">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/MNf-m4AmPFQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
<!-- harmonium prafulla -->

<!-- swaraj infoten -->
<div class="modal fade" id="swarajInfoten" tabindex="-1" aria-labelledby="swarajInfoten" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Swaraj Infoten</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="col">
          <p>
            Local news in local language.
          </p>
        </div>
      </div>
      <div class="modal-footer">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/2ZJt4VHCJcQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
<!-- swaraj infoten -->

<div class="container-fluid">

  <!--
  <div class="row">
    <div class="col col-sm-10 col-md-8 offset-sm-1 offset-md-2 p-2 mb-4 bg-light rounded-3">
      <div class="py-5 text-center">
        <h1 class="display-6 fw-bold">Results will be declared on 9th July 9:00 AM</h1>
      </div>
    </div>
  </div>
  -->

  <!-- image >> -->
  <div class="row">
    <div class="col col-sm-10 col-md-8 offset-sm-1 offset-md-2 _mainBanner">

      <div id="" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="assets/img/nikal.jpg" class="d-block w-100" alt="..." routerLink="/manaManatTu" style="cursor: pointer;">
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- </ >image -->

  <!-- </action panel -->
  <div class="row my-5">
    <div class="col col-sm-10 col-md-8 offset-sm-1 offset-md-2 _mainActionPanel">

      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">"Mana Manat Tu": Geet gayan Spardha </h5>
              <p class="card-text">A music singing spardha to celebreate a speacial creation by Prafulla Shahane.</p>
              <a href="#" class="btn btn-primary" routerLink="/manaManatTu">View Results</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Bhakti Rang: Bhaktigeet Gayan Spardha</h5>
              <p class="card-text">We are happy to announce that we will be launching new event on 15 July 2021.</p>
              <a href="#" class="btn btn-primary disabled">More info soon</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- </action panel -->

  <div class="row my-5">
    <div class="col col-sm-10 col-md-8 offset-sm-1 offset-md-2 _mainInfoPane">

      <div class="card mb-3 d-inline-block">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="assets/img/hmp.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Harmonium Prafulla</h5>
              <p class="card-text">Harmonium is my life , this instrument is very easy and Powerful soulful used in all type of music,
                i will try to play indian classical music, marathi bhajan, abhang and bhakti geet and there tutorial detail Notation
                on harmonium , key-board , melodica and all types of musical key-boards.</p>
              <p class="card-text">
                <small class="text-muted">
                  <a href="https://www.youtube.com/channel/UC2e4KAMYWDQl_uQuXkSaQPQ/featured" class="link-info"> Visit YouTube Channel </a>
                </small>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3 d-inline-block">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="assets/img/spm.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">S Prafull Music</h5>
              <p class="card-text">
                Sweet journey of Shahane & Co. In this musical universe. Stay tuned for more music. This brother duo is enthusiastic and very devoted to learn new things. We just started this channel to encourage their journy. We wish you to be the part of the same.
              </p>
              <p class="card-text">
                <small class="text-muted">
                  <a href="https://www.youtube.com/c/Sprafullamusic/featured" class="link-info"> Visit YouTube Channel </a>
                </small>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="assets/img/swaraj.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Swaraj Infoten</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text">
                <small class="text-muted">
                  <a href="https://www.youtube.com/channel/UCVekg-xRnr-olU4zsA5QsPw/featured" class="link-info"> Visit YouTube Channel </a>
                </small>
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>


</div>
